div id="#{dom_id(cv)}_item" *{data: { 'stream-enter-class': "slide-in", 'stream-exit-class': "slide-out" }}
  = turbo_frame_tag dom_id(cv) do
    #theme-config data-theme-config="#{@theme.to_json}"

    = render "/themes/#{@theme_name}", cv: cv
