= tag.div id:"#{dom_id(experience)}_cv_item", class:"pb-3", data: { stream_enter_class: "slide-in", stream_exit_class: "slide-out" }
  p.text-2xl ="#{experience.title} @ #{experience.company}"
  p= experience.description
