.slide-in {
  animation: fade-in 0.25s ease-out,
             slide-in 0.25s ease-out;
}

.slide-out {
  animation: fade-out 0.25s ease-out,
             slide-out 0.25s ease-out;
}

.stream_enter_new {
  animation: fade-in 0.25s ease-out,
  slide-in 0.25s ease-out;
}

.stream_out {
  animation: fade-out 0.01s ease-out,
}


@keyframes slide-in {
  from { transform: translateY(-1rem); }
  to { transform: translateY(0); }
}

@keyframes slide-out {
  from { transform: translateX(0); }
  to { transform: translateX(0rem); }
}
