@tailwind base;
@tailwind components;
@tailwind utilities;



@media print {
  body { color-adjust: exact; }
}

.btn-primary {
  @apply bg-primary text-white hover:bg-secondary transition;
}

.btn-secondary {
  @apply bg-secondary text-white hover:bg-primary transition;
}

.field {
  @apply w-full border py-1 px-3 appearance-none rounded text-gray-700;
}

.field.is-invalid {
  @apply border-primary;
}

.label {
  @apply text-gray-700 block
}

.hint {
  @apply text-xs italic
}

.devise .label {
  @apply text-black text-lg flex;
}

.devise .input {
  @apply  shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none;
}

.btn {
  @apply mx-auto lg:mx-0 rounded-full mt-4 lg:mt-0 py-2 px-4 focus:outline-none transform transition hover:scale-105 duration-300 ease-in-out cursor-pointer
}

.btn-small {
  @apply py-1 px-4;
  font-size: 80%;
}


.card {
  @apply bg-white p-4 mb-4;
}

.page * {
  @apply transition duration-75	;
}

h2 {
  @apply text-xl mt-0 text-gray-800 mb-2;
}


:root {
    --ggs: 0.7;
}

/* CV page */
#cv_container {
  margin: 0;
  padding: 0;
  transform-origin: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* remove extra-space after pages */
  /* height: 100vh; */
}

.wrapper {
  margin: 2rem 0;
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
  border: 1px #d3d3d3 solid;
}

.page {
  width: 21cm;
  height: 29.7cm;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
