@tailwind base;
@tailwind components;
@tailwind utilities;



@media print {
  body { color-adjust: exact; }
}

.field {
  @apply w-full border py-1 px-3 appearance-none rounded text-gray-700;
}

.label {
  @apply text-gray-700 block
}

.hint {
  @apply text-xs italic
}

.devise .label {
  @apply text-black text-lg
}

.devise .input {
  @apply  shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none;
}

.btn {
  @apply mx-auto lg:mx-0 bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-3 px-6 shadow focus:outline-none transform transition hover:scale-105 duration-300 ease-in-out cursor-pointer
}

.btn-primary {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  @apply text-white;
}

.card {
  @apply bg-white p-4 mb-4;
}

.page * {
  @apply transition duration-75	;
}

h2 {
  @apply text-xl mt-0 text-gray-800 mb-2;
}

.text-primary {
  color: #e37c8d;
}
.bg-primary {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

:root {
    --ggs: 0.7;
}
