@tailwind base;
@tailwind components;
@tailwind utilities;



@media print {
  body { color-adjust: exact; }
}

.field {
  @apply w-full border py-1 px-3 appearance-none rounded text-gray-700;
}

.field.color {
  @apply border-l-0 rounded-l-none whitespace-nowrap;
  width: calc(100% - 28px);
}

.label {
  @apply text-gray-700 block
}

.label.color {
  @apply whitespace-nowrap;
}

.btn {
  @apply px-5 py-2 bg-blue-500 text-white;
}

h2 {
  @apply text-xl mt-4 text-gray-800;
}
.transition {
  transition-property: all;
  transition-timing-function: linear;
}

.text-primary {
  color: #ccb68c;
}
.bg-primary {
  background: #ccb68c;
}
